body
{
    margin: 0;
}

header
{
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #519c79;
}

h1
{
    background: url(img/15718411148892_Logo-ohmyfood.png) no-repeat;
    background-position: center;
    background-size: 10rem;
    text-indent: -3333px;
}

img
{
    width: 10rem;
    max-width: 15rem;
}

#logo
{
    text-align: center;
}

h2
{
    margin-top: 5.5rem;
    text-align: center;
    font-size: 120%;
    padding-top: 0.6rem;
    font-family: sans-serif;
}

#container
{
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 3.5rem;
    width: 100%;
    height: 2.8rem;
    background-image: url(img/menu4/titre_menu4.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18rem;
}

h3
{
    text-align: center;
    font-size: 90%;
    margin-top: 2rem;
    margin-bottom: 0.7rem;
}
/*SOULIGNER 1ER TITRE*/
/*LES TITRES DOIVENT ETRE "FLEX" POUR FAIRE APPARAITRE LES <HR> SUR LES COTES*/
.cadre1
{
    width: 56px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1.9rem;
}

.titres:hover + .cadre1 .trait1
{
    margin-bottom: -2px;
    border-bottom: 2px solid #91ffaf;
    animation: soulignement1 0.5s;
    animation-timing-function: linear;
}

@keyframes soulignement1
{
    0% {width: 0rem;}
    100% {width: 3.6rem;}
}

@-webkit-keyframes soulignement1
{
    0% {width: 0rem;}
    100% {width: 3.6rem;}
}
/*SOULIGNER 2EME TITRE*/
/*LES TITRES DOIVENT ETRE "FLEX" POUR FAIRE APPARAITRE LES <HR> SUR LES COTES*/
.cadre2
{
    width: 116px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1.9rem;
}

.titres:hover + .cadre2 .trait2
{
    margin-bottom: -2px;
    border-bottom: 2px solid #91ffaf;
    animation: soulignement2 0.5s;
    animation-timing-function: linear;
}

@keyframes soulignement2
{
    0% {width: 1rem;}
    100% {width: 7.4rem;}
}

@-webkit-keyframes soulignement2
{
    0% {width: 1rem;}
    100% {width: 7.4rem;}
}
/*SOULIGNER 3EME TITRE*/
/*LES TITRES DOIVENT ETRE "FLEX" POUR FAIRE APPARAITRE LES <HR> SUR LES COTES*/
.cadre3
{
    width: 129px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1.9rem;
}

.titres:hover + .cadre3 .trait3
{
    margin-bottom: -2px;
    border-bottom: 2px solid #91ffaf;
    animation: soulignement3 0.5s;
    animation-timing-function: linear;
}

@keyframes soulignement3
{
    0% {width: 0rem;}
    100% {width: 8.1rem;}
}

@-webkit-keyframes soulignement3
{
    0% {width: 0rem;}
    100% {width: 8.1rem;}
}

/*FIN DES SOULIGNEMENTS*/
/*DEBUT DES SEPARATEURS HR*/
.titres
{
    align-items: center;
    display: flex;
    text-align: center;
}

/* content: ""; est nécessaire pour afficher les pseudo-éléments.
flex: 1; partage le reste de la largeur disponible*/
.titres::before,
.titres::after
{
    border-top: 0.15em solid;
    content: "";
    flex: 1;
    margin-left: 1.5em;
    margin-right: 1.5em;
    color: transparent;
    height: 0.1em;
}
/*FIN DES SEPARATEURS HR*/

.titres::before
{
    background: linear-gradient(to left, #91ffaf, #26631a);
}

.titres::after
{
    background: linear-gradient(to right, #91ffaf, #26631a);
}

.box
{
    box-shadow: 0px 0px 6px lightgrey;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2.5%;
    padding-top: 2.5%;
    font-family: 'Caveat', cursive, sans-serif;
    margin-bottom: 5rem;
}

.box h3
{
    margin-bottom: 2rem;
    font-family: 'Caveat', cursive, sans-serif;
    font-weight: normal;
}

.entree, .plat, .dessert
{
    display: flex;
    justify-content: space-between;
}

ul
{
    list-style: none;
    font-size: 73%;
}

li
{
    margin-bottom: 0.3rem;
}

.gauche
{   
    margin-left: 10%;
}

.droite
{
   margin-right: 10%;
}

#dernier
{
    margin-bottom: 3rem;
}

a
{
    text-decoration: none;
    color: #ffd145;
}

h4
{
    font-size: medium;
    font-weight: normal;
    font-family: sans-serif;
    margin-top: 1rem;
}

footer
{
    height: 3rem;
    width: 105%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    color: #ffd145;
    background-color: #519c79;
    margin-left: -5%;
    margin-right: -5%;
    bottom: 0;
}

/*DEBUT ANIMATIONS WIGGLE*/

@keyframes wiggle
{
    /*0% { transform: rotate(0deg); }
    10% { transform: rotate(0deg); }
    15% { transform: rotate(13deg); }
    20% { transform: rotate(-13deg); }
    25% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }*/
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

h4.wiggle:hover 
{
  display: inline-block;
  animation: wiggle 0.5s infinite;
}

h4.wiggle 
{
  animation: none;
}
/*FIN ANIMATIONS WIGGLE*/

/*DEBUT MEDIA QUERIES*/

/*DEBUT MOBILES*/
/*@media screen and (max-width: 767px)
{
    .box
    {
        margin-bottom: 5rem;
    }
}*/
/*FIN MOBILES*/

/*DEBUT TABLETTES*/
/*FIN TABLETTES*/

/*FIN MEDIA QUERIES*/