body
{
    margin: 0;
}

header
{
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #49B282;
}

img
{
    width: 10rem;
    max-width: 15rem;
}

#logo
{
    text-align: center;
}

h1
{
    margin-top: 5.5rem;
    text-align: center;
    font-size: 120%;
    padding-top: 0.6rem;
    font-family: sans-serif;
}

h2
{
    text-align: center;
    margin-bottom: 3.5rem;
    color: royalblue
}

h3
{
    text-align: center;
    font-size: 100%;
    margin-top: 1.5rem;
    margin-bottom: 0.4rem
}

.hr 
{
    align-items: center;
    display: flex;
    text-align: center;
}

/* content: ""; est nécessaire pour afficher les pseudo-éléments.
flex: 1; partage le reste de la largeur disponible*/
.hr::before,
.hr::after 
{
    border-top: 0.15em solid;
    content: "";
    flex: 1;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

/*background-size:contain; permet d'empêcher le zoom du menu lorsque la fenêtre du navigateur est agrandie*/
.box
{
    background-color: #ebebeb;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2.5%;
    padding-top: 2.5%;
    font-family: "apple chancery", "comic sans ms", "trebuchet ms", cursive, sans-serif;
    /*background-image: url(img/cover1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 35rem;
    width: 100%;
    margin: auto;
    margin-bottom: 1.5%;*/
}

.box p
{
   font-size: 73%; 
}

.gauche
{
    float: left;
    margin: 0;
    margin-left: 5%;
    font-size: small;
}

.droite
{
    margin: 0;
    margin-left: 90%;
    text-align: end;
    margin-right: 5%;
    font-weight: bold;
    font-size: small;
    
}

#mentions
{
    margin-left: -5rem;
}

#contact
{
    margin-right: -6.5rem;
}

#mentions, #contact
{
    align-items: center;
    font-family: sans-serif;
}

a
{
    text-decoration: none;
    color: yellow
}

footer
{
    height: 3rem;
    width: 105%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    color: yellow;
    background-color: #49B282;
    margin-left: -5%;
    margin-right: -5%;
    bottom: 0;
}