body
{
    margin: 0;
    overflow: hidden;
}

header
{
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #49B282;
    text-align: center;
}

h1
{
    background: url(img/15718411148892_Logo-ohmyfood.png) no-repeat;
    background-position: center;
    background-size: 10rem;
    text-indent: -3333px;
}

.box
{
    margin-top: 9.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

#menu1, #menu2, #menu3, #menu4
{
    display: flex;
    width: 10rem;
    height: 11rem;
    padding: 2rem 0;
    box-shadow: 0px 0px 6px lightgrey;
    background-size: 100%;
    background-position: center;
}

#menu1
{
    background-image: url(img/menu1.png);
    margin-bottom: 1.7rem;
}

#menu2
{
    background-image: url(img/menu2.png);
    margin-bottom: 1.7rem;
}

#menu3
{
    background-image: url(img/menu3.png);
    margin-bottom: 1.7rem;
}

#menu4
{
    background-image: url(img/menu4.png);
    margin-bottom: 1.7rem;
}

#bouton
{
    /*position: static;*/
    align-items: center;
    background-color: #49B282;
    color: yellow;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    width: 13rem;
    min-width: 10rem;
    height: 2rem;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-size: medium;
}

h2
{
    font-size: medium;
    font-weight: normal;
}

h3
{
    font-size: 1.3rem;
    font-weight: normal;
}


#mentions
{
    margin-left: -5rem;
    margin-top: auto;
    margin-bottom: auto;
    font-family: sans-serif;
}
#contact
{
    margin-right: -6.5rem;
    margin-top: auto;
    margin-bottom: auto;
    font-family: sans-serif;
}
a
{
    text-decoration: none;
    color: yellow
}
footer
{
    height: 3rem;
    width: 105%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: yellow;
    background-color: #49B282;
    margin-left: -5%;
    margin-right: -5%;
    bottom: 0;
}

/* /!\ DEBUT PARTIE ANIMATIONS /!\ */
/*ANIMATION ZOOM MENU + OPACITE REDUITE*/
:hover#menu1, :hover#menu2, :hover#menu3, :hover#menu4
{
    background-size: 130%;
    opacity: 0.3;
    transition: 0.3s;
}
/*FIN ANIMATION DES MENUS*/
/*DEBUT ANIMATION DES 3 PETITS POINTS*/

#bouton .wave span
{
    /*width: 0.4rem;
    height: 0.4rem;*/
    border-radius: 50%;
    display: inline-block;
    animation-name: jumpingDots;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    font-size: x-large;
    margin: -8%;
}

.wave span:nth-child(2)
{
    animation-delay: 0.7s;
}

.wave span:nth-child(3)
{
    animation-delay: 1.4s;
}

@keyframes jumpingDots
{
    0%{transform: translateY(-10%);}
    40%{transform: translateY(-10%);}
    50%{transform: translateY(-20%);}
    100%{transform: translateY(-10%);}
    
}

/*FIN ANIMATION DES 3 PETITS POINTS*/
/*DEBUT ANIMATIONS WIGGLE*/

@keyframes wiggle
{
    /*0% { transform: rotate(0deg); }
    10% { transform: rotate(0deg); }
    15% { transform: rotate(13deg); }
    20% { transform: rotate(-13deg); }
    25% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }*/
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.wiggle:hover 
{
  display: inline-block;
  animation: wiggle 0.5s infinite;
}

.wiggle 
{
    animation: none;
    font-size: 1.4rem;
    margin-top: 1rem;
}
/*FIN ANIMATIONS WIGGLE*/
/*FIN PARTIE ANIMATIONS*/

/*DEBUT MEDIA QUERY*/
/*POUR LAPTOPS*/
@media (min-width: 1400px)
{
    .box
    {
        margin: auto;
        margin-top: 8rem;
        width: 25%;
    }
    
    h3
    {
        font-size: 1.1rem;  
    }
    
    #menu1, #menu2, #menu3, #menu4
    {
        margin-bottom: 3.5rem;
        width: 12rem;
        height: 15rem;
    }
}

/*POUR TABLETTES*/
@media (min-width: 768px) and (max-width: 1024px)
{
    .box
    {
        width: /*60%*/70%;
        margin-top: 51.5vh;
        transform: translateY(-50%);
    }
    
    #menu1, #menu2, #menu3, #menu4
    {
        display: flex;
        width: 15rem;
        height: 16rem;
        padding: 2rem 0;
        box-shadow: 0px 0px 6px lightgrey;
        background-size: 100%;
        background-position: center;
    }
    
    #menu1, #menu3
    {
        margin-bottom: 3rem;
    }
    
    #bouton
    {
        width: 20rem;
        height: 3rem;
        margin-top: 1rem;
    }
    
    h2
    {
    font-size: medium;
    font-weight: normal;
    font-family: sans-serif;
    }
}

/*POUR IPAD PRO*/
@media (min-width: 1023px) and (max-width: 1024px)
{
    .box
    {
        width: 80%;
        margin-top: 51vh;
        transform: translateY(-50%);
    }
    
    #menu1, #menu2, #menu3, #menu4
    {
        display: flex;
        width: 22rem;
        height: 25rem;
        padding: 2rem 0;
        box-shadow: 0px 0px 6px lightgrey;
        background-size: 100%;
        background-position: center;
    }
    
    #menu1, #menu3
    {
        margin-bottom: 3rem;
    }
    
    #bouton
    {
        width: 28rem;
        height: 4rem;
        margin-top: 1rem;
    }
}

/*POUR MOBILES*/
@media (min-width: 300px) and (max-width: 750px)
{
    .box
    {
        width: 80%;
        /*margin-bottom: auto;
        margin-top: /*35%*//*8rem;*/
        margin-top: 52vh;
        transform: translateY(-50%);
    }
    
    #menu1, #menu2, #menu3, #menu4
    {
        display: flex;
        /*margin-top: -0.5rem;*/
        margin-top: auto;
        width: 8rem;
        height: 8rem;
        padding: 2rem 0;
        box-shadow: 0px 0px 6px lightgrey;
        background-size: 100%;
        background-position: center;
    }
    
    #bouton
    {
        /*margin-top: -0.5rem;*/
        margin-top: auto;
        margin-bottom: auto;
    }
    
    h3
    {
        font-size: 1rem;
    }
        
    /*#mentions
    {
        margin-right: 4rem;
    }
    
    #contact
    {
        margin-left: -3.5rem;
        margin-right: 4rem;
    }*/
}

/*POUR IPHONE X*/
@media (max-device-width: 400px) and (min-device-height : 800px)
{
    .box
    {
        width: 100%;
        /*margin-bottom: auto;
        margin-top: /*35%*//*8rem;*/
        margin-top: 52vh;
        transform: translateY(-50%);
    }
    
    #menu1, #menu2, #menu3, #menu4
    {
        display: flex;
        /*margin-top: -0.5rem;*/
        margin-top: auto;
        width: 10rem;
        height: 12rem;
        padding: 2rem 0;
        box-shadow: 0px 0px 6px lightgrey;
        background-size: 100%;
        background-position: center;
    }
    
    #bouton
    {
        /*margin-top: -0.5rem;*/
        margin-top: auto;
        margin-bottom: auto;
    }
}

/*POUR IPHONE SE*/
@media (min-width: 319px) and (max-width: 321px)
{
    .box
    {
        width: 80%;
        /*margin-bottom: auto;
        margin-top: /*35%*//*8rem;*/
        margin-top: 54vh;
        transform: translateY(-50%);
    }
    
    #menu1, #menu2, #menu3, #menu4
    {
        display: flex;
        /*margin-top: -0.5rem;*/
        margin-top: auto;
        width: 7rem;
        height: 6.5rem;
        padding: 2rem 0;
        box-shadow: 0px 0px 6px lightgrey;
        background-size: 100%;
        background-position: center;
        margin-bottom: 0.8rem;
    }
    
    #bouton
    {
        /*margin-top: -0.5rem;*/
        margin-top: 0.5rem;
        margin-bottom: auto;
        width: 5rem;
        height: 1.4rem;
    }
    
    h3
    {
        font-size: 0.8rem;
    }
    
    .wave
    {
        font-size: 0.1rem;
    }
 
    footer
    {
        text-align: center;
    }
}

/*POUR TABLETTES*/
@media (min-width: 751px) and (max-width: 1025px)
{
    h3
    {
        font-size: 1.5rem;
    }
}
/*FIN MEDIA QUERY*/